<div class="row">
  <div class="col-6 mid">
      <li class="list-group-item">
          <button type="button" class="close" aria-label="Close" (click)=removeWeatherItem(index);>
              <span aria-hidden="true">&times;</span>
            </button>
        <div class="row">
            <div class="col">
                <h5>{{weatherItem.cityName}}</h5>
                <p class="text-secondary">{{weatherItem.description | titlecase}}</p>
              </div>
              <div class="col">
                <p class="text-right"><b>{{weatherItem.temperature}}&#730;C</b></p>
              </div>
        </div>
      </li>
  </div>
</div>
  
