<form (ngSubmit)="onSubmit()" style="margin: 15px 0px;">
	<div class="row">
		<div class="col-12">
			<label for="city">Search City</label>
		</div>
		<div class="col-6">
			<div class="input-group">
				<input type="text" id="city" name="city" placeholder="city" required class="form-control" [(ngModel)]="city">
				<span class="input-group-btn">
					<button type="submit" class="btn btn-success">Add City</button>
				</span>
			</div>
		</div>
		<div class="col-6"></div>
		<div class="col-12">
			<p style="margin-top: 10px;">
				 <!-- City found: City Name -->
			</p>
		</div>
	</div>
</form>
